<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cerca Eventi</title>

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
<form th:action="@{/eventi/eventiFiltrati}" method="get">

    <label for="anno">Anno:</label>
    <input type="number"
           id="anno"
           name="anno">

    <label for="titolo">Titolo:</label>
    <input type="text"
           id="titolo"
           name="titolo">

    <label for="categoria">Categoria:</label>
    <input type="text"
           id="categoria"
           name="categoria">

    <label for="civilta">Civiltà:</label>
    <input type="text"
           id="civilta"
           name="civilta">

    <button type="submit">Cerca</button>

</form>
</body>
</html>
